<html>
<body>
    <p>Dolar blue hoy: {{dolar}}</p>
    <hr>
    <a href= "{% url 'home' %}" class="btn btn-success">Home</a> &nbsp; &nbsp;<a href= "{% url 'debtsmanager:formulario' %}" class="btn btn-success">Crear deudor</a>&nbsp;&nbsp;<a href= "{% url 'registro:cerrar_sesion' %}" class="btn btn-success">Cerrar sesion</a>
    <hr>
    Tus créditos:
    <form action="/creditos/" method="GET">
        
{% if deudores %}
    {% for deudor in deudores %}
            {% load index %}
            <p>Deudor: {{deudor.nombre}} {{deudor.apellido}} | Deuda inicial en pesos: {{deudor.deuda_inicial}} | Fecha de creación: {{deudor.created_at}} | Intereses mensuales: {{deudor.intereses_mensuales}}% | Deuda actual en pesos = {{list | index:forloop.counter0}}</p>
            <a href= "{% url 'debtsmanager:modificar' deudor.pk %}" class="btn btn-success">Modificar</a>
            <a href= "{% url 'debtsmanager:eliminar' deudor.pk %}" class="btn btn-success">Eliminiar</a>
            <hr>
    {% endfor %}
{% else %}
<hr>

No has registrado ningún crédito.
{% endif %}
        
    </form>

</body>




</html>